.activity-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 36px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 16px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: var(--background-paper);
}

.activity-card:not(.spotlight-card) {
  max-width: 450px; /* Limit width for non-spotlight cards */
}

.activity-card.spotlight-card {
  max-width: 100%;
  width: 100%;
  margin: 0; /* Center the spotlight card */
}

.activity-card-container:hover {
  cursor: pointer;
  transform: scale(1.05); /* Slightly enlarge the card */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add a shadow to indicate clickability */
}

.image-container {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.activity-card.spotlight-card .image-container {
  height: 60vh; /* Increase height for spotlight card image */
}

.explore-activity-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center; /* Ensure the image is centered */
  transition: transform 0.3s ease;
}

.activity-card:hover .explore-activity-image {
  transform: scale(1.02); /* Reduce the zoom effect to prevent excessive cropping */
}

.no-image {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-secondary);
  background-color: var(--background-default);
}

.activity-card.spotlight-card .no-image {
  height: 60vh; /* Match the no-image container height with spotlight image */
}

.activity-info {
  padding: 16px;
  text-align: center;
}

.activity-title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 8px;
  color: var(--text-primary);
}

.attraction-name {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-secondary);
}

.activity-description {
  font-size: 0.875rem;
  color: var(--text-primary);
  margin-top: 8px;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 16px 0;
  background-color: var(--background-paper);
}

.buttons-container button {
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.buttons-container button:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
}

.buttons-container button:active {
  transform: scale(0.95);
}

.chip-keyword {
  background-color: #D1C4E9; /* Lighter purple background */
  color: #673AB7; /* Darker text color */
  font-size: 0.85rem;
  margin-right: 4px;
}
